* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    display: grid;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
}

.label-standard {
    display: block;
    padding-bottom: 3px;
}

input {
    font-size: 16px;
    width: 500px;
    height: 30px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
}

input:required:valid {
    border-color: green;
    border-width: 2px;
}

input:invalid {
    border-color: red;
}

#email {
    background-image: url(email.png);
    background-position: 4px 2px;
    background-repeat: no-repeat;
    background-size: 20px;
}

#firstname,
#lastname {
    background-image: url(name.png);
    background-position: 4px 2px;
    background-repeat: no-repeat;
    background-size: 20px;
}

#address {
    background-image: url(home.png);
    background-position: 4px 2px;
    background-repeat: no-repeat;
    background-size: 20px;
}

#phone {
    background-image: url(phone.png);
    background-position: 4px 2px;
    background-repeat: no-repeat;
    background-size: 18px;
}

#signup {
    width: auto;
    height: auto;
    cursor: pointer;
}

.button {
    background-color: blue;
    color: white;
    width: 70px;
    height: 30px;
}

.button:hover {
    cursor: pointer;
    color: tomato;
}